/*general*/
* {
    padding: 0px;
    margin: 0px;
    box-sizing: content-box;
}

body  {
  align-items: center;
  
}

/* ------------- */
/* Mobile       */
/* ------------*/

/*Header*/
.main-header  {
  display: flex;
  justify-content: space-between;
  height: 90px;
  background-color: #00FF6D;
}

.logo {
  background-color: #27AE60;
  width: 60px;
  height:60px;
  border-radius: 10px;
  margin: 20px;
  margin-right: 0px;
}

/*Main*/
.main  {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main .aside  {
  display: none;
}

.section-art  {
  align-items: center;
}

.main .art  {
  display: flex;
  flex-direction: column;
  justify-content:flex-end;
  align-items: center;
  width: 280px;
  height: 200px;
  border-radius: 10px;
  margin: 15px;
}

.main .art h4 {
  width: 90px;
  height: 13px;
  background-color: white;
  margin-bottom: 5px;
  border-radius: 3px;
}

.main .art p  {
  width: 190px;
  height: 7px;
  background-color: white;
  margin-top: 6px;
  border-radius: 4px;
}

.main .art > div  {
  display: flex;
}

.main .art .img-art {
  width: 25px;
  height: 25px;
  border-radius: 20px;
  margin: 13px 8px;
  background-color: white;
}

.section-art article:nth-child(1) 
{
  background-color:#F2C94C;
}

.section-art article:nth-child(2) 
{
  background-color:#F2994A;
}

.section-art article:nth-child(3) 
{
  background-color:#EB5757;
}

.section-art article:nth-child(4) 
{
  background-color:#BB6BD9;
}

/*Footer*/
.main-footer  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #35EB82;
  height: 550px;
}

.main-footer .img-foo {
  background-color: #219653;
  width: 110px;
  height:110px;
  border-radius: 60px;
  margin-top: -60px;
  margin: 20px;
}

.main-footer .trio-img-foo  {
  display: flex;
  margin: 10px;
}

.main-footer .img-div-foo {
  background-color: #219653;
  width: 30px;
  height:30px;
  border-radius: 30px;
  margin: 10px;
}

.main-footer .a-foo {
  order: 3;
  background-color: #219653;
  height: 20px;
  width: 250px;
  border-radius: 5px;
  margin-top: 210px;
}

/* ------------- */
/* Tablet       */
/* ------------*/
 @media only screen and (min-width: 768px) { 

  /*general*/
  body  {
    align-items: unset;
  }

/* Header*/
  .main-header  {
    margin-bottom: 50px;
  } 

/* Main*/
  .section-art  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
  }

  .main .art  {
  padding: 20px;
  justify-content: flex-start;
  align-items: flex-start;
  width: 280px;
  height: 200px;

}

  .main .art h4 {
  width: 90px;
  height: 13px;
  background-color: white;
  margin-bottom: 5px;
  border-radius: 3px;
}

.main .art p  {
  width: 190px;
  height: 7px;
  background-color: white;
  margin-top: 6px;
  border-radius: 4px;
}

.main .art > div  {
  display: flex;
  align-self: flex-end;
  justify-self: flex-end;
  margin-top: auto;
}

.main .art .img-art {
  width: 25px;
  height: 25px;
  border-radius: 20px;
  margin: 13px 8px;
  background-color: white;
}

/*footer*/
  .main-footer  {
    height: 153px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .main-footer .a-foo { 
    align-self: flex-start;
    margin-right: 40px;
    margin-top: 60px;
  }

  .main-footer .img-foo {
    align-self: flex-start;
    margin-top: 20px;
  }

  .main-footer .trio-img-foo  {
    display: flex;
    margin: 10px;
    align-self: flex-end;
    margin-bottom: 20px;
    position: relative;
    left: 70px;
  } 

 } 

 /* ------------- */
/* Desktop      */
/* ------------*/
 @media only screen and (min-width: 1024px) {

  /* Header */
  .main-header  {
    margin-bottom: 10px;
    height: 110px;
  }

  .main-header .logo  {
    margin: 25px 50px;
  }

  .main-header .header-nav  {
    display: flex;
    width: 550px;
    height: 60px;
    justify-content: space-around;
    margin: 25px;
    align-items: center;
    margin-right: 60px;
  }

  .header-nav .header-a {
    background-color: #27AE60 ;
    height: 25px;
    width: 140px;
    border-radius: 5px;
  }

  .header-nav .avatar {
    background-color: #27AE60 ;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    margin: 0px;
  }
  
  /* main */
  .main  {
    display: flex;
    flex-direction: row;
    margin: 25px 0;
  }

  .main .aside  {
    display: inline;
    width: 400px;
    height: 400px;
    background-color: #4F4F4F;
    margin:0 20px;
    border-radius: 10px;
  }

  .aside .list-item {
    list-style: none;
    background-color: white;
    height: 25px;
    margin: 35px 25px;
    border-radius: 5px;
  }

  .section-art  {
    height: 460px;
    justify-content: space-between;
    flex-grow: 1;
    margin-bottom: 0px;
    margin-right: 10px;
  } 

  .main .art  {
    width: 310px;
    height: 170px;
    margin: 0px 15px;
  }

  /* footer */
    .main-footer  {
      height: 223px;
      justify-content: space-evenly;
      align-items: center
    }
    .main-footer .img-foo {
    display: flex;
    width: 130px;
    height:130px;
    border-radius: 100px;
    margin-top: 0px;
    margin: 0px;
    align-self: center;
    }

  .main-footer .trio-img-foo  {
    display: flex;
    margin: 0px;
    align-self:flex-end;
    margin-bottom: 30px;
    margin-right: 20px;
  }

  .main-footer .img-div-foo {
    width: 40px;
    height:40px;
    border-radius: 35px;
    margin: 0px 10px;
  }

  .main-footer .a-foo {
    width: 280px;
    height: 30px;
    order: unset;
    margin: 0px;
    align-self:flex-end;
    margin-bottom: 30px;
  }

}